h4 {
  cursor: pointers;
}

img {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.Heading {
  padding: 5px 20px;
  margin-top: 5px;
}

.Header {
  cursor: pointer;
}

.Landmark_Info {
  display: flex;
  margin: 20px;
  border: 1px solid black;

  .Description {
    margin-left: 20px;
    text-align: justify;
    padding: 10px;
    width: 100%;
  }
}

.Modal_Image {
  object-fit: cover;
  width: 100%;
}
.Form {
  padding: 20px;
}

@media screen and (max-width: 770px) {
  .Landmark_Info {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }
}
