<div class="container">
  <header class="Heading">
    <h3>Dubai Landmarks</h3>
    <p>
      Fusce mauris lacus, sodales bibendum hendrerit vel, volutpat non elit.
      Donec vel gravida ligula. Nam aliquet maximus commodo. Etiam euismod sit
      amet nulla id maximus.Fusce mauris lacus, sodales bibendum hendrerit vel,
      volutpat non elit. Donec vel gravida ligula.
    </p>
  </header>
  <div *ngFor="let landmark of landmarks">
    <div class="Landmark_Info">
      <div class="Image_Thumbnail">
        <img
          (click)="openModal(template)"
          src="{{ landmark.photo_thumb.url }}"
          alt="{{ landmark.photo.name }}"
        />
      </div>
      <div class="Description">
        <h4
          class="Header"
          [routerLink]="['/landmark', landmark.objectId, 'details']"
        >
          {{ landmark.title }}
        </h4>
        <p>{{ landmark.short_info }}</p>
      </div>
      <button
        (click)="onEdit(edit_template)"
        *ngIf="isAuthorized"
        type="button"
        class="btn btn-success"
      >
        Edit
      </button>
    </div>

    <!-- Modal -->
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">{{ landmark.title }}</h4>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <img
        src="{{ landmark.photo.url }}"
        class="img-responsive Modal_Image"
        alt="{{ landmark.photo.name }}"
      />
    </ng-template>
    <!-- End Modal  -->

    <!-- Edit Modal -->

    <ng-template #edit_template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Landmark Info</h4>
        <button
          type="button"
          class="btn-close close pull-right"
          aria-label="Close"
          (click)="modalRef?.hide()"
        >
          <span aria-hidden="true" class="visually-hidden">&times;</span>
        </button>
      </div>
      <!-- Form -->
      <div class="Form">
        <form
          [formGroup]="editForm"
          (ngSubmit)="onSubmitEditForm(landmark.objectId)"
        >
          <div class="form-group">
            <label for="Username">Title</label>
            <input
              formControlName="title"
              type="text"
              class="form-control"
              aria-describedby="title"
              placeholder="Enter username"
            />
          </div>
          <div class="form-group">
            <label for="Short Info">Short Info</label>
            <input
              formControlName="short_info"
              type="text"
              class="form-control"
              aria-describedby="title"
              placeholder="Short Info"
            />
          </div>
          <div class="form-group">
            <label for="Description">Description</label>
            <input
              formControlName="description"
              type="text"
              class="form-control"
              placeholder="Description"
            />
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </ng-template>
    <!-- End Modal  -->

    <!-- End-Edit Modal -->
  </div>
</div>
