<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Travel Empire</a>
  <button type="button" (click)="openModal(template)" class="btn btn-primary">
    Login
  </button>
</nav>

<!-- Modal -->
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Fill in your Credentials</h4>
    <button
      type="button"
      class="btn-close close pull-right"
      aria-label="Close"
      (click)="modalRef?.hide()"
    >
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <!-- Form -->
  <div class="Form">
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="exampleInputEmail1">Username</label>
        <input
          formControlName="username"
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
          placeholder="Enter username"
        />
        <span
          *ngIf="
            !signupForm.get('username')?.valid &&
            signupForm.get('username')?.touched
          "
          >*Username Required</span
        >
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input
          formControlName="password"
          type="password"
          class="form-control"
          placeholder="Password"
        />
        <span
          *ngIf="
            !signupForm.get('password')?.valid &&
            signupForm.get('password')?.touched
          "
          >*Password Required</span
        >
        <small id="emailHelp" class="form-text text-muted"
          >We'll never share your credentials with anyone else.</small
        >
      </div>

      <button
        [disabled]="!signupForm.valid"
        type="submit"
        class="btn btn-primary"
      >
        Submit
      </button>
    </form>
  </div>
  <!--End Form -->
</ng-template>
<!-- End Modal  -->
