.background-image {
  background: url("../../../assets/images/photo-1496568816309-51d7c20e3b21.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}
